img {
	height: 233px;
	width: 233px;
	border-radius: 3%
}

input {
	margin: 20px;
}

button {
	width: 100%;
	font-size: 15px;
	height: 20px;
}

.repo {
	border-bottom: 1px solid grey;
	display: inline-block;
	width: 70%;
	padding-bottom: 30px;
	margin: 10px;

}

.reponame {
	font-size: 22px;
	color: #4078c0;
	font-family: 'Lato', sans-serif;
	text-decoration: none;


}

.h1 {
	color: #666;
	margin: 1px;
}

.h2 {
	color: grey;

}


.profileContainer {
	width: 30%;
	height: 100vh;
	
	float: left;
	vertical-align: top;
}

.repoContainer {
	width: 60%;
	height: 100vh;
	float: left;
	
	vertical-align: top;
}

.repolist {
	display:inline-block;

}